{% extends 'base.html' %}

{% block title %}Cursos | {{ title }}{% endblock %}

{% block content %}

<h1>Cursos y Capacitaciones.</h1>
<hr>
<div class="capacitaciones">
    <span>
        <strong>Formate como programador y llevá tus habilidades al siguiente nivel. </strong><br> <br>
        ✅ Python de cero a experto <br>
        ✅ Desarrollo Web completo: HTML, CSS y JavaScript <br>
        ✅ Machine Learning, Data Science, Robótica y Automatización en Excel <br>

        📌 Aprendé hoy, aplicalo mañana. <br>
        📲 Inscribite y empezá ahora.
    </span>

    <div class="card-contenedor">

        <div class="card">
            <img src="/static/img/cursos/capacitacion/curso-desWeb.jpg" alt="Desarrollo Web">
            <div class="card-info">
                <h2>Desarrollo Web</h2>
                <strong>Descripcion:</strong>
                <span>Este curso te proporcionará los conceptos básicos y Avanzados para iniciarte en el fascinante mundo de la Ingeniería de Software para aplicaciones web.</span>
                <p>👇 Haga Click en el enlace: 👇</p>
                <a href="https://hotm.art/desarrolloWeb">Ir al Curso</a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/cursos/capacitacion/curso.wfullStack.jpg" alt="Desarrollo Full Stack">
            <div class="card-info">
                <h2>Desarrollador Full Stack</h2>
                <strong>Descripcion:</strong>
                <span>El curso de programación web Full Stack es un programa educativo que te proporciona los conocimientos y habilidades necesarias para desarrollar aplicaciones web completas, tanto en el lado del cliente (front-end) como en el lado del servidor (back-end).</span>
                <p>👇 Haga Click en el enlace: 👇</p>
                <a href="https://hotm.art/WebFullStack">Ir al Curso</a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/cursos/capacitacion/cursos-python.jpg" alt="Desarrollo Full Stack">
            <div class="card-info">
                <h2>Python de Cero a Experto</h2>
                <strong>Descripcion:</strong>
                <span>Este curso exhaustivo sobre los Fundamentos de Programación en Python te llevará en un emocionante viaje a través del mundo de la programación y la versatilidad del lenguaje Python. Durante este curso intensivo, explorarás desde los conceptos fundamentales hasta las técnicas avanzadas.</span>
                <p>👇 Haga Click en el enlace: 👇</p>
                <a href="https://hotm.art/pythonInicialAExperto">Ir al Curso</a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/cursos/capacitacion/cursos-analisisDatos.jpg" alt="Desarrollo Full Stack">
            <div class="card-info">
                <h2>Analista de Datos</h2>
                <strong>Descripcion:</strong>
                <span>En este curso, aprenderás de manera gradual y práctica los conceptos básicos de Minería de Datos, junto a los algoritmos más utilizados hoy en día. Al finalizar el curso, serás capaz de entender la importancia de manejar la información y de explorar por ti mismo distintas bases de datos reales</span>
                <p>👇 Haga Click en el enlace: 👇</p>
                <a href="https://hotm.art/AnalisisDeDatos">Ir al Curso</a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/cursos/capacitacion/cursos-excel.jpg" alt="Desarrollo Full Stack">
            <div class="card-info">
                <h2>Experto en Excel</h2>
                <strong>Descripcion:</strong>
                <span>Cuando finalices este curso habrás logrado un gran número de habilidades como introducir información, ordenarla, manipularla, realizar cálculos de diversa índole (matemáticos, trigonométricos, estadísticos, financieros, ingenieriles, probabilísticos), extraer conclusiones, trabajar con fechas y horas, construir gráficos, imprimir reportes y muchas más.</span>
                <p>👇 Haga Click en el enlace: 👇</p>
                <a href="https://hotm.art/ExcelAExperto">Ir al Curso</a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/cursos/capacitacion/cursos-robotica.jpg" alt="Desarrollo Full Stack">
            <div class="card-info">
                <h2>Robótica</h2>
                <strong>Descripcion:</strong>
                <span>¿Te gustaría construir un robot y controlarlo a través de tu celular? ¡Estás en el curso indicado! Aquí podrás armar y animar un robot además de controlarlo con tu teléfono móvil, aún cuando te encuentres lejos de éste. </span>
                <p>👇 Haga Click en el enlace: 👇</p>
                <a href="https://hotm.art/CursoRoboticaInicial">Ir al Curso</a>
            </div>
        </div>

    </div>

</div>

{% endblock %}