{% extends 'base.html' %}

{% block title %}Empresas | {{ title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="info">
        <span>
            <strong>Py Data Storm</strong> nació una noche de tormenta, justamente durante una sesión de
            brainstorming (tormenta de ideas),
            donde mis habilidades en programación con el lenguaje
            <strong>Python</strong> confirmaron el alto nivel de conocimiento adquirido para diseñar
            meticulosamente bases de datos orientadas a empresas.
        </span>
        <figure>
            <img src="/static/img/empresa/1.tormenta.jpg" alt="1">
            <img src="/static/img/empresa/2.brainstorming.jpg" alt="2">
            <img src="/static/img/empresa/3.python.jpg" alt="3">
        </figure>

        <span>
            Sumando mis años de experiencia en el área de <i>Diseño Gráfico</i>, mis habilidades innatas para la
            <i>creatividad</i><br> y las nuevas competencias incorporadas en tecnologías emergentes como la
            inteligencia artificial (IA),<br>
            surgió este nuevo emprendimiento empresarial, creado para brindar soluciones prácticas, rápidas y
            efectivas ante
            las necesidades comerciales actuales.
        </span>

        <figure>
            <img src="/static/img/empresa/4.diseño.jpg" alt=4">
            <img src="/static/img/empresa/5.ia.jpg" alt="5">
            <img src="/static/img/empresa/6.pulgar.jpg" alt="6">
        </figure>
        <img src="/static/img/logo.png" alt="logo">
    </div>
</div>

{% endblock %}