{% extends 'base.html' %}

{% block title %}Política de Privacidad | {{ title }}{% endblock %}

{% block content %}

    <hr>
    <div class="politica">
        <h1>Política de Privacidad</h1>
        <p>En <strong>DIRECCION DE LA URL</strong>, respetamos tu privacidad y nos comprometemos a proteger tus
            datos
            personales.</p>
        <br>

        <h2>Información que recopilamos</h2>
        <p>Podemos recopilar información personal como nombre, correo electrónico y otros datos que proporciones
            voluntariamente al completar formularios o interactuar con nuestro sitio.</p>
        <br>

        <h2>Uso de la información</h2>
        <p>La información recopilada se utiliza para:</p>
        <ul>
            <li>Gestionar y mejorar nuestro sitio web.</li>
            <li>Enviar información y promociones relacionadas con nuestros servicios.</li>
            <li>Cumplir con requisitos legales y fiscales.</li>
        </ul>
        <br>

        <h2>Cookies</h2>
        <p>Utilizamos cookies para mejorar la experiencia del usuario. Al utilizar este sitio, aceptás el uso de
            cookies
            según nuestra política.</p>
        <br>

        <h2>Protección de la información</h2>
        <p>Implementamos medidas de seguridad para proteger tus datos personales contra accesos no autorizados.</p>
        <br>

        <h2>Enlaces a terceros</h2>
        <p>Este sitio puede contener enlaces a otros sitios. No somos responsables de sus políticas de privacidad ni
            de
            sus contenidos.</p>
        <br>

        <h2>Modificaciones</h2>
        <p>Nos reservamos el derecho de modificar esta política en cualquier momento. Te recomendamos revisar esta
            página periódicamente.</p>
        <br>

        <h2>Contacto</h2>
        <p>Si tenés preguntas o inquietudes sobre nuestra política de privacidad, escribinos a: <a
                href="mailto:boomartsfs@gmail.com">boomartsfs@gmail.com</a></p>
    </div>


    <button onclick="location.href='/'">
        Regresar al Sitio
    </button>

{% endblock %}